.image {
    width: 75px;
    border-radius: 5%;
}
.images {
    width: 300px;
    border-radius: 5%;
}

.fond {
    background-image: url("../image/fond.jpg");
    height: 500px;
}
.button {
    background-color: black;
    color: white;
}
.button:hover {
    background-color: white;
}

.place {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;

}

.padding {
    padding-top: 150px;
}

.gris {
    background-color: black;
}

.projetHeight {
    height: 200px;
}

.cardheight {
    height: 340px;
}

.cardheight2 {
    height: 175px;
}
.bcgProjet {
    background-color: black;

}
.white {
    color: white;
}
footer {
    color: white;
}
i {
    color: white;
}
h1 {
    text-align: center;
    margin-bottom: 30px;
}
